<div class="form-group">
    <label class="col-xs-12 col-sm-3 control-label">{{field.label}}
        <i ng-if="field.validator.length!==0" class="glyphicon glyphicon-star"></i>
    </label>

    <div class="col-xs-12 col-sm-9">
        <input type="checkbox" ng-model="currentItem[field.name]"
               ng-if="field.validator.length!==0"
               name="{{field.name}}"
               validator="{{field.validator.join()}}"
               class="col-xs-10 col-sm-5" placeholder="{{field.label}}"
               ng-true-value="1" ng-false-value="0">

        <input type="checkbox" ng-model="currentItem[field.name]"
               ng-if="field.validator.length===0"
               name="{{field.name}}"
               class="col-xs-10 col-sm-5" placeholder="{{field.label}}"
               ng-true-value="1" ng-false-value="0">
    </div>
</div>