<div class="form-group">
    <label class="col-xs-12 col-sm-3 control-label">{{field.label}}
        <i ng-if="field.validator.length!==0" class="glyphicon glyphicon-star"></i>
    </label>

    <div class="col-xs-12 col-sm-9">
        <p class="input-group">
            <input type="text" uib-datepicker-popup ng-model="currentItem[field.name]"
                   ng-if="field.validator.length!==0"
                   validator="{{field.validator.join()}}"
                   class="form-control" name="{{field.name}}" placeholder="{{field.label}}"
                   is-open="status">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="status.opened=true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
        </p>
    </div>
</div>