<div class="form-group">
    <label class="col-xs-12 col-sm-3 control-label no-padding-right">{{field.label}}
        <i ng-if="field.validator.length!==0" class="glyphicon glyphicon-star"></i>
    </label>

    <div class="col-xs-12 col-sm-9">
        <textarea class="col-xs-10 col-sm-5"  ng-model="currentItem[field.name]"
                  ng-if="field.validator.length!==0"
                  placeholder="{{field.placeholder}}"  name="{{field.name}}"
                  validator="{{field.validator.join()}}" />

        <textarea class="col-xs-10 col-sm-5"  ng-model="currentItem[field.name]"
                  ng-if="field.validator.length===0"
                  placeholder="{{field.placeholder}}"  name="{{field.name}}"/>
    </div>
</div>